* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #709fdc;
  color: white;
  display: flex;
  justify-content: center;
}
h1,
h2,
h3,
p {
  text-align: center;
}
button {
  background-color: #709fdc;
  border: 2.5px solid white;
  border-radius: 0.5em;
  margin: 2em;
  padding: 0.5em;
}
button:hover {
  background-color: orange;
  cursor: pointer;
}
/* SWICH BUTTON */
.swich {
  display: flex;
  position: absolute;
  top: 0.5em;
  right: 1em;
}

.swich > p {
  margin-right: 1em;
}
/* SWICH THEMES */
.blue {
  background-color: #01528a;
}

.blueBtn {
  background-color: #709fdc;
}

.orange {
  background-color: orange;
}

.orangeBtn {
  background-color: yellow;
}
/* START QUIZ */
#StartBtn {
  width: 11em;
  height: 2.5em;
}
/* QUESTIONS */
/* background containers for start, questions and results */
.bg {
  /* background-color: #01528a; */
  margin: 2em; /* check on mobile */
  padding: 2em;
  border-radius: 1em;
  border: 2.5px solid white;
  min-height: 19em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* answers container */
.answers {
  margin-top: 0.5em;
}
/* answers buttons */
.answers > button {
  display: flex;
  align-self: center;
  justify-content: center;
  max-width: 22em;
  min-width: 14em;
  overflow-wrap: anywhere;
  margin: 0.5em;
}

/* RESULTS */

@media screen and (min-width: 425px) {
  .answers {
    display: initial;
  }
  .answers > button {
    width: 19em;
  }
}

@media screen and (min-width: 768px) {
  .bg {
    margin: 4em;
    min-width: 41em;
  }
}

@media screen and (min-width: 1444px) {
  .bg {
    min-width: 74em;
  }
}
